body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .pleetsclass{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    border: 2px solid black
  }
  
  .header{
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    background-color: lightcyan;
  }
  
  .main{
    background-color: beige;
  }
  